body{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: rgb(131, 78, 113);
}
html{
    height: 100%;
}


section{
    text-decoration: none;
    color:  #0f1409;
}

.box {
    height: 200px;
    width: 100%;
}

/*The Home section styling*/
#home{
    text-align: right;
    margin: 0;
    background-image: url(img/0.jpeg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    color:   #000000;
}

.list .option{
    display: inline-block;
    color: #3498db;
    padding-left: 15px;
    font-weight: bold;
    font-size: 15px;
    
}

.list .option a{
    font-weight: 400;
    text-decoration: none;
}

.list .option a:link, a:visited{color: #0799fa;}
.list .option a:hover, a:active{color:#f58233;}

h1, h3, h5, p{
    text-align: center;
}

/*The about us section styling*/
/* text in the section*/
.two{
    text-align: center;
    margin: 0;
    color:   #000000;
}
/* about us images*/
.imge{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*social section styling begin here*/
.three{
    text-align: center;
    margin: 0;
    background-color: #d4d1d3;
    color:   #000000;
}
/* social section images */
.rec{
    height: 150px;
    width: 200px;
    margin: 0 auto;
    padding: 0 auto;
}

/*contact section styling begin here*/
.four{
    text-align: center;
    margin: 0;
    color:   #000000;
}
/*follow button in contact section and send button in th fifth section*/
.buttton{
    background-color: rgb(179, 175, 175);
    text-align: center;
    width: 300px;
}
input{
    color: gray;
    padding-top: 10px
}
/*--the map in contact section--*/
.map{
    padding:5px;
    width: 300px;
    height: 175px;    
}

.ico{
    width: 20px;
    height: 20px;
}
.message{
    width: 300px;
}

/*.........*/
footer{
text-align: center;
background-color: rgb(70, 66, 66);
}
